mat-card {
  min-height: 325px;
  background-color: #242526;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}
.title {
  font-size: 30px;
  font-style: bold;
  color: #E4E6EB;
}

.summaryText {
  color: #E4E6EB;
  font-weight: 100;
}

.rating {
  color: #BB86FC;
  font-weight: 100;
}

img {
  float: left;
  padding: 0 2em 1em 0;
  margin-bottom: auto;
}


