/* .summary-component {
  background-color: #424242;
  padding:
} */

.title {
  font-size: 30px;
  font-style: bold;

}

.summaryText {
  color: #E4E6EB;
  font-weight: 100;
}

.rating {
  color: #BB86FC;
  font-weight: 100;
}

img {
  float: left;
  padding: 0 2em 1em 0;
}