

.summaryCard {
  max-width: 1000px;
  max-height: 1000px;
  margin-top: 50px;
  align-items: center;
}

.mat-card-image {
  margin: 0;
  height: 100%;
  padding: 50px;
}

.summaryCardContent {
  display: flex;
  justify-content: space-between;
}