<div class="container">
  <h1 class="title">Cast List</h1>
  <div class="row">
    <div class="col-lg-6">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Steve_Carell_November_2014.jpg">
      <div class="castInfo">
        <h3>Cast Name</h3>
        <p>Character Name</p>
      </div>
    </div>

    <div class="col-lg-6">
      <img src="http://www.gstatic.com/tv/thumb/persons/308909/308909_v9_bb.jpg">
      <div class="castInfo">
        <h3>Cast Name</h3>
        <p>Character Name</p>
      </div>
    </div>
  </div>
</div>

