* {
  box-sizing: border-box;
}

.title {
  color: #FFFFFF;
  margin-bottom: 50px;
}
.container {
  background-color: #2D2C2F;
  padding: 50px;
}
img {
  width: 150px;
  float: left;
  margin: 20px;
  background-color: #FFFFFF;

}

.castInfo {
  padding-top: 20px;
  color: #FFFFFF;
}

.castInfo p {
  color: #E0B9FF;
}


