<mat-toolbar color="primary">
  <span>Tv Show App</span>
</mat-toolbar>
<mat-grid-list cols="1" rowHeight="7:1">
  <app-show-search></app-show-search>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="3:1">
  <mat-grid-tile>
    <mat-card color="primary">
      <app-show-summary></app-show-summary>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="3" rowHeight="3:1">
  <mat-grid-tile>
    <mat-card color="primary">
      <app-show-details></app-show-details>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card color="primary">
      <app-show-schedule></app-show-schedule>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-status></app-status>
  </mat-grid-tile>
</mat-grid-list>