body {
  background-color: #18191A;
  color: #E4E6EB;
}

mat-card {
  background-color: #18191A;
}

.inner {
  background-color: #242526;
  height: 100%;
  padding: 1em;
}

.outer {
  padding: .5em;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.search {
  margin: 1em 0 1em 0;
  text-align: center;
}
