<mat-toolbar color="primary">Tv Show App</mat-toolbar>
<body>
  <section class="container content">
    <div class="row">
      <mat-card class="search col-lg-12">
        <app-show-search (searchEvent)="doSearch($event)"></app-show-search>
      </mat-card>
    </div>
    <div class="row">
      <mat-card class="outer col-lg-12">
        <mat-card class="inner col-lg-12">
          <app-show-summary [current]="showInfo"></app-show-summary>
        </mat-card>
      </mat-card>

    </div>
    <div class="row">
      <mat-card class="outer col-lg-4 col-sm-12">
        <mat-card class="inner col-lg-12">
          <app-show-details [details]="showInfo"></app-show-details>
        </mat-card>
      </mat-card>

      <mat-card class="outer col-lg-4 col-sm-12">
        <mat-card class=" inner col-lg-12">
          <app-show-schedule [current]="showInfo"></app-show-schedule>
        </mat-card>
      </mat-card>

      <mat-card class="outer col-lg-4 col-sm-12">
        <mat-card class="inner col-lg-12">
          <app-status [current]="showInfo"></app-status>
        </mat-card>
      </mat-card>
    </div>
  </section>
</body>